*.log
*.pot
*.pyc

__pycache__/
.env/
.env_legacy/
venv/
.idea/
.vscode/launch.json
.cache
.ipython
.bash_history
import/csv/
import/json/
logs/*.txt
media/

.DS_Store
db.sqlite3
dump.rdb
package-lock.json
templates/tmp_header.html
templates/tmp_footer.html
/.coverage
/coverage.xml
/cov-xml/coverage.xml
/logs
.env

